=form_for @user do |f|
  .form-group
    =f.label :employee_id, "Employee ID"
    =f.text_field :employee_id, class: "form-control"

  .form-group
    =f.label :email, "Email"
    =f.text_field :email, class: "form-control"

  =f.submit class: "btn btn-primary"
